<div class="a-section">
  <div class="a-title__internal">
    ACUDIENTES
    <a class="a-btn__add" href ng-click="addAcudiente($event,'Acudiente')" >
      <i class="flaticon-plus"></i>  AGREGAR
    </a>
  </div>
</div>

<div class="a-section">
  <div class="a-card">
  <div class="a-card-wrapper">

    <div class="row">
      <div class="col-sm-12">
        <div class="col-sm-6">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Buscar por Nombre</label>
            <input  type="text" ng-model="search.nombres">
          </md-input-container>
        </div>
        <div class="col-sm-6">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Buscar por Apellido</label>
            <input  type="text" ng-model="search.apellidos">
          </md-input-container>
        </div>

      </div>
    </div>

    <hr>

    <div class="row">

      <!-- Acudiente -->
      <div class="col-sm-6" ng-repeat="acudiente in acudientes |  filter:search" >
        <a href="#/perfil_edit/{{acudiente.guid}}">
        <div class="a-list__alumn">
            <div class="a-list__photo">
              <i class="flaticon-command"></i>
            </div>
            <div class="a-list__name">
              {{acudiente.nombres}} {{acudiente.apellidos}}
            </div>
            <div class="a-list__level"></div>
        </div>
        </a>
      </div>
      <!-- End Acudiente -->

    </div>

  </div>
  </div>
</div>
