<div class="a-section">
  <div class="a-title__internal">
    {{galeria.titulo}}
  </div>
</div>

<div class="a-section">
  <div class="a-card">
    <div class="a-card-wrapper">
      <div class="a-card-body">
        <div class="row-fliud">
          <div class="col-sm-8">

            <div gallery class="gallery" >
              <div class="image" ng-repeat="photo in photos">
                <a href="assets/img/galeria/{{photo.imagen}}" class="big"><img ng-src="assets/img/galeria/{{photo.imagen}}" alt="" title="{{photo.titulo}}" /></a>
              </div>
            </div>

          </div>
          <div class="col-sm-4">
            {{galeria.descripcion}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
