<div class="a-section">
  <div class="a-title__internal">
    ALUMNOS
    <a class="a-btn__add" href ng-click="addTeacher($event,'Alumno')" >
      <i class="flaticon-plus"></i>  AGREGAR
    </a>
  </div>
</div>

<div class="a-section">
  <div class="a-card">
  <div class="a-card-wrapper">

    <div class="row">
      <div class="col-sm-6">
        <md-input-container class="md-block" flex-gt-sm>
          <label>Buscar Alumno</label>
          <input >
        </md-input-container>
      </div>
      <div class="col-sm-6">
        <md-input-container class="md-block">
          <label>Filtrar por Grado</label>
          <md-select ng-model="myModel" required>
            <md-option value="6">6°</md-option>
            <md-option value="7">7°</md-option>
            <md-option value="8">8°</md-option>
          </md-select>
        </md-input-container>
      </div>
    </div>

    <hr>

    <div class="row">

      <!-- Alumn -->
      <div class="col-sm-6">
        <a href="#/perfil_edit/1">
        <div class="a-list__alumn">
            <div class="a-list__photo">
              <i class="flaticon-boy-broad-smile"></i>
            </div>
            <div class="a-list__name">
              Camilo Andrés Castrillón Colmenares
            </div>
            <div class="a-list__level">8°</div>
        </div>
        </a>
      </div>
      <!-- End Alumn -->

      <!-- Alumn -->
      <div class="col-sm-6">
        <a href="#/perfil_edit/1">
        <div class="a-list__alumn">
            <div class="a-list__photo">
              <i class="flaticon-boy-broad-smile"></i>
            </div>
            <div class="a-list__name">
              Camilo Andrés Castrillón Colmenares
            </div>
            <div class="a-list__level">8°</div>
        </div>
        </a>
      </div>
      <!-- End Alumn -->

      <!-- Alumn -->
      <div class="col-sm-6">
        <a href="#/perfil_edit/1">
        <div class="a-list__alumn">
            <div class="a-list__photo">
              <i class="flaticon-boy-broad-smile"></i>
            </div>
            <div class="a-list__name">
              Camilo Andrés Castrillón Colmenares
            </div>
            <div class="a-list__level">8°</div>
        </div>
        </a>
      </div>
      <!-- End Alumn -->

    </div>

  </div>
  </div>
</div>
