<div class="a-section">
  <div class="a-title__internal">
    ALUMNOS
    <a class="a-btn__add" href ng-click="addTeacher($event,'Alumno')" >
      <i class="flaticon-plus"></i>  AGREGAR
    </a>
  </div>
</div>

<div class="a-section">
  <div class="a-card">
  <div class="a-card-wrapper">

    <div class="row">
      <div class="col-sm-8">
        <div class="col-sm-6">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Buscar por Nombre</label>
            <input  type="text" ng-model="search.nombres">
          </md-input-container>
        </div>
        <div class="col-sm-6">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Buscar por Apellido</label>
            <input  type="text" ng-model="search.apellidos">
          </md-input-container>
        </div>

      </div>
      <div class="col-sm-4">
        <md-input-container class="md-block">
          <label>Filtrar por Grado</label>
          <md-select ng-model="grado.grado" >
            <md-option value="6">6°</md-option>
            <md-option value="7">7°</md-option>
            <md-option value="8">8°</md-option>
            <md-option value="">Todos</md-option>
          </md-select>
        </md-input-container>
      </div>
    </div>

    <hr>

    <div class="row">

      <!-- Alumn -->
      <div class="col-sm-6" ng-repeat="alumno in alumnos  |  filter:search | filter:grado">
        <a href="#/perfil_edit/{{alumno.guid}}">
        <div class="a-list__alumn">
            <div class="a-list__photo">
              <i ng-if="alumno.genero == 'M' " class="flaticon-boy-broad-smile"></i>
              <i ng-if="alumno.genero == 'F' " class="flaticon-smiling-girl"></i>
            </div>
            <div class="a-list__name">
              {{alumno.nombres}} {{alumno.apellidos}}
            </div>
            <div class="a-list__level">{{alumno.grado}}°</div>
        </div>
        </a>
      </div>
      <!-- End Alumn -->


    </div>

  </div>
  </div>
</div>
