<div class="a-section">
  <div class="a-title__internal">
    Asignaturas - Cursos
    <a class="a-btn__add" href ng-click="addCurso($event)" >
      <i class="flaticon-plus"></i>  AGREGAR
    </a>
  </div>
</div>

<div class="a-section">
  <div class="a-card__flex-wrapper">

  <!-- CARD -->
    <div class="a-card a-card__flex" ng-repeat="curso in cursos">
      <div class="a-card-wrapper">
        <a href="#/curso_adm/{{curso.id}}">
          <div class="a-card-header">
            <div class="a-card-header__title-photo">
              <h1 class="curso">{{curso.name}} °</h1>
              <span class="curso--span">{{curso.cantAsig}} Asignaturas</span>
            </div>
            <md-menu>
            <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)">
            <i class="flaticon-show-more-button-with-three-dots"></i>
            </md-button>
            <md-menu-content>
              <md-menu-item>
                <md-button ng-click="editCurso($event,curso.id)"><i class="flaticon-edit"></i>  Editar</md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
          </div>
        </a>
      </div>
    </div>
  <!-- END CARD -->



  </div>
  <div ng-if="cursos.length === 0">
    <h2  class="a-txt-cent">No hay Cursos</h2>
    <br>
  </div>
</div>
