<div class="a-section">
  <div class="a-title__internal">
    ASIGNATURAS
  </div>
</div>

<div class="a-section">
  <div class="a-card__flex-wrapper">

  <!-- CARD -->
    <div class="a-card a-card__flex">
      <a href="#/adm_asignatura/1">
        <div class="a-card-wrapper">
          <div class="a-card-header">
            <div class="a-card-header__title-photo">
              <h1 class="light">Algebra</h1>
              <div class="a-card-header__info-right">
                8°
              </div>
            </div>
          </div>
        </div>
        <div class="a-card-wrapper">
          <div class="a-card-body a-card__flex-wrapper">
            <div class="a-card__icon">
                  <i class="flaticon-book-2"></i>
            </div>
            <div class="a-card__list">
              <ul>
                <li>26 Alumnos</li>
                <li>Salón A.2.17</li>
              </ul>
            </div>
          </div>
        </div>
      </a>
    </div>
  <!-- END CARD -->


  </div>
</div>
