<div class="a-section">
<div class="a-breadcrumb">
  <a class="a-button__back" href back-button>< Atras</a>
</div>

<div class="a-card__flex-wrapper">
  <div class="a-card__flex a-title-icon">
    <div class="a-tittle-icon__wrapper">
      <i class="flaticon-book-2"></i>
    </div>
    <div class="a-tittle-info__wrapper">
      <span>{{tituloEvaluacion}}</span>
      <span class="a-card__grade">Calificar Evaluacion</span>
    </div>
  </div>
  <div class="a-card__flex a-title-icon text-right">
    <i class="flaticon-book-2"></i>
    <span>{{nameAsignatura}}</span>
    <p>{{nameCurso}}</p>
  </div>
</div>

<div class="a-section">
  <div class="a-card">
    <div class="a-card-wrapper">

      <div ng-if="error" class="alert alert-danger" role="alert" timeout>{{error}}</div>

      <div ng-show="!error">
        <p>Recuerde, la nota mínima es 0 y la máxima es 10; para decimales, usar el formato con punto: 7.5</p>
        <div ng-if="errorNota" class="alert alert-danger" role="alert" timeout>{{errorNota}}</div>
        <div class="a-panel-right tab-content a-card__flex">
          <div role="tabpanel" class="tab-pane active" id="alumnos">

            <div class="row" ng-repeat="alumno in alumnos">
              <!-- Alumn -->
              <div class="col-sm-8">
                <a href="#/perfil_edit/{{alumno.guid}}">
                <div class="a-list__alumn a-list__alumn--initial">
                    <div class="a-list__photo">
                      <i ng-if="alumno.genero == 'M' && !alumno.avatar " class="flaticon-boy-broad-smile"></i>
                      <i ng-if="alumno.genero == 'F' && !alumno.avatar " class="flaticon-smiling-girl"></i>
                      <img style="width: 36px; border-radius: 50%; margin: 2px;"  ng-if="alumno.avatar" ng-src="{{alumno.avatar}}" />
                    </div>
                    <div class="a-list__name">
                      {{alumno.nombres}} {{alumno.apellidos}}
                    </div>
                </div>
                </a>
              </div>
              <div class="col-sm-4" style="display: flex;">
                <md-input-container style="margin-right:10px;" class="md-block" flex-gt-sm>
                  <label>Nota</label>
                  <input type="text" ng-change="updNota(idEvaluacion,alumno.guid,alumno.nota)" ng-model="alumno.nota" >
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                  <label>Observaciones</label>
                  <input type="text" ng-change="updObservacion(idEvaluacion,alumno.guid,alumno.observaciones)" ng-model="alumno.observaciones" >
                </md-input-container>
              </div>
              <!-- End Alumn -->
            </div>

          </div>
        </div>

      </div>

    </div>
  </div>
</div>

</div>
