<div class="a-section">
  <div class="a-title__internal">
    CRONOGRAMA
    <a class="a-btn__add" href ng-click="addEvent($event,'Crear')" >
      <i class="flaticon-plus"></i>  AGREGAR
    </a>
  </div>
</div>

<div class="a-section a-section--background-white">
  <div class="row-fluid">


    <div class="col-sm-4" ng-repeat="evento in eventos">
      <div class="a-card a-card--heigth-500">
        <div class="a-card-wrapper">
          <div class="a-card-header">
            <div class="a-card-header__title-photo">
              <h1>{{evento.titulo}}</h1>
              <p class="a-state active a-text-left">{{evento.fecha}}</p>
            </div>

            <md-menu>
            <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)">
            <i class="flaticon-show-more-button-with-three-dots"></i>
            </md-button>
            <md-menu-content>
              <md-menu-item>
                <md-button ng-click="editEvent($event,evento.id)"><i class="flaticon-edit"></i>  Editar</md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="deleteEvent($event,evento.id)"><i class="flaticon-delete-button"></i>Eliminar</md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>

          </div>
        </div>
        <div class="a-card__image">
          <img ng-src="assets/img/eventos/{{evento.foto}}" alt="">
        </div>
        <div class="a-card-wrapper">
          <div class="a-card-body">
            <p>{{evento.descripcion}}</p>
          </div>
        </div>
      </div>
    </div>



  </div>

</div>
