<div class="a-section">
  <div class="a-banner__internal">
    <img src="assets/img/banners/banner_cronograma.jpg" alt="">
  </div>
</div>
<div class="a-section a-section--background-white">
  <div class="row-fluid">

    <div class="col-sm-4" ng-repeat="evento in eventos">
      <a href="#/evento/{{evento.id}}">
      <div class="a-card a-card--heigth-500">
        <div class="a-card-wrapper">
          <div class="a-card-header">
            <div class="a-card-header__title-photo">
                <h1>{{evento.titulo}}</h1>
            </div>
            <div class="a-card-header__pin-right a-text--color-green">
              {{evento.fecha}}
            </div>
          </div>
        </div>
        <div class="a-card__image">
          <img ng-src="assets/img/eventos/{{evento.foto}}" alt="">
        </div>
        <div class="a-card-wrapper">
          <div class="a-card-body">
            <p>{{evento.descripcion}}</p>
          </div>
        </div>
      </div>
    </a>
    </div>

  </div>

</div>
