<div class="a-section">
  <div class="a-title__internal">
    DASHBOARD
  </div>
</div>

<div class="a-section">
  <div class="a-card__flex-wrapper">

  <!-- CARD -->
    <div class="a-card a-card__flex">
      <a href="#/docentes_adm">
      <div class="a-card-wrapper">
        <div class="a-card-header">
          <div class="a-card-header__title-photo">
            <h1>Docentes</h1>
          </div>
        </div>
      </div>
      <div class="a-card-wrapper">
        <div class="a-card-body a-card__flex-wrapper">
          <div class="a-card__icon">
                <i class="flaticon-educator-1"></i>
          </div>
          <div class="a-card__list">
            <ul>
              <li>15 Docentes</li>
            </ul>
          </div>
        </div>
      </div>
      </a>
    </div>
  <!-- END CARD -->

  <!-- CARD -->
    <div class="a-card a-card__flex">
      <a href="#">
      <div class="a-card-wrapper">
        <div class="a-card-header">
          <div class="a-card-header__title-photo">
            <h1>Alumnos</h1>
          </div>
        </div>
      </div>
      <div class="a-card-wrapper">
        <div class="a-card-body a-card__flex-wrapper">
          <div class="a-card__icon">
                <i class="flaticon-big-backpack"></i>
          </div>
          <div class="a-card__list">
            <ul>
              <li>135 Docentes</li>
            </ul>
          </div>
        </div>
      </div>
      </a>
    </div>
  <!-- END CARD -->

  <!-- CARD -->
    <div class="a-card a-card__flex">
      <a href="#">
      <div class="a-card-wrapper">
        <div class="a-card-header">
          <div class="a-card-header__title-photo">
            <h1>Asignaturas</h1>
          </div>
        </div>
      </div>
      <div class="a-card-wrapper">
        <div class="a-card-body a-card__flex-wrapper">
          <div class="a-card__icon">
                <i class="flaticon-books-stack-of-three"></i>
          </div>
          <div class="a-card__list">
            <ul>
              <li>18 Asignaturas</li>
            </ul>
          </div>
        </div>
      </div>
      </a>
    </div>
  <!-- END CARD -->

  <!-- CARD -->
    <div class="a-card a-card__flex">
      <a href="#">
      <div class="a-card-wrapper">
        <div class="a-card-header">
          <div class="a-card-header__title-photo">
            <h1>Padres y/o Acudientes</h1>
          </div>
        </div>
      </div>
      <div class="a-card-wrapper">
        <div class="a-card-body a-card__flex-wrapper">
          <div class="a-card__icon">
                <i class="flaticon-command"></i>
          </div>
          <div class="a-card__list">
            <ul>
              <li>265 Usuarios</li>
            </ul>
          </div>
        </div>
      </div>
      </a>
    </div>
  <!-- END CARD -->

  <!-- CARD -->
    <div class="a-card a-card__flex">
      <a href="#">
      <div class="a-card-wrapper">
        <div class="a-card-header">
          <div class="a-card-header__title-photo">
            <h1>Cronograma</h1>
          </div>
        </div>
      </div>
      <div class="a-card-wrapper">
        <div class="a-card-body a-card__flex-wrapper">
          <div class="a-card__icon">
                <i class="flaticon-calendar"></i>
          </div>
          <div class="a-card__list">
            <ul>
              <li>14 Eventos</li>
            </ul>
          </div>
        </div>
      </div>
      </a>
    </div>
  <!-- END CARD -->

  <!-- CARD -->
    <div class="a-card a-card__flex">
      <a href="#">
      <div class="a-card-wrapper">
        <div class="a-card-header">
          <div class="a-card-header__title-photo">
            <h1>Galeria</h1>
          </div>
        </div>
      </div>
      <div class="a-card-wrapper">
        <div class="a-card-body a-card__flex-wrapper">
          <div class="a-card__icon">
                <i class="flaticon-stack-of-photos"></i>
          </div>
          <div class="a-card__list">
            <ul>
              <li>55 Fotos</li>
              <li>20 Fotos mías</li>
            </ul>
          </div>
        </div>
      </div>
      </a>
    </div>
  <!-- END CARD -->

  <!-- CARD -->
    <div class="a-card a-card__flex">
      <a href="#">
      <div class="a-card-wrapper">
        <div class="a-card-header">
          <div class="a-card-header__title-photo">
            <h1>Administración del App</h1>
          </div>
        </div>
      </div>
      <div class="a-card-wrapper">
        <div class="a-card-body a-card__flex-wrapper">
          <div class="a-card__icon">
                <i class="flaticon-cogwheel"></i>
          </div>
        </div>
      </div>
      </a>
    </div>
  <!-- END CARD -->

  </div>
</div>
