 <div class="a-section">
  <div class="a-title__internal">
    DASHBOARD
  </div>
</div>

<div class="a-section">
  <div class="a-card__flex-wrapper">

  <!-- CARD -->
    <div class="a-card a-card__flex" ng-if="rol == 1">
      <a href="#/docentes_adm">
      <div class="a-card-wrapper">
        <div class="a-card-header">
          <div class="a-card-header__title-photo">
            <h1>Docentes</h1>
          </div>
        </div>
      </div>
      <div class="a-card-wrapper">
        <div class="a-card-body a-card__flex-wrapper">
          <div class="a-card__icon">
                <i class="flaticon-educator-1"></i>
          </div>
          <div class="a-card__list">
            <ul>
              <li>{{teacher}} Docentes</li>
            </ul>
          </div>
        </div>
      </div>
      </a>
    </div>
  <!-- END CARD -->

  <!-- CARD -->
    <div class="a-card a-card__flex" ng-if="rol == 1">
      <a href="#/alumnos">
      <div class="a-card-wrapper">
        <div class="a-card-header">
          <div class="a-card-header__title-photo">
            <h1>Alumnos</h1>
          </div>
        </div>
      </div>
      <div class="a-card-wrapper">
        <div class="a-card-body a-card__flex-wrapper">
          <div class="a-card__icon">
                <i class="flaticon-big-backpack"></i>
          </div>
          <div class="a-card__list">
            <ul>
              <li>{{student}} Alumnos</li>
            </ul>
          </div>
        </div>
      </div>
      </a>
    </div>
  <!-- END CARD -->

  <!-- CARD -->
    <div class="a-card a-card__flex" ng-if="rol == 1">
      <a href="#/acudientes">
      <div class="a-card-wrapper">
        <div class="a-card-header">
          <div class="a-card-header__title-photo">
            <h1>Padres y/o Acudientes</h1>
          </div>
        </div>
      </div>
      <div class="a-card-wrapper">
        <div class="a-card-body a-card__flex-wrapper">
          <div class="a-card__icon">
                <i class="flaticon-command"></i>
          </div>
          <div class="a-card__list">
            <ul>
              <li>{{father}} Usuarios</li>
            </ul>
          </div>
        </div>
      </div>
      </a>
    </div>
  <!-- END CARD -->

  <!-- CARD -->
    <div class="a-card a-card__flex" ng-if="rol == 1">
      <a href="#/cronograma_adm">
      <div class="a-card-wrapper">
        <div class="a-card-header">
          <div class="a-card-header__title-photo">
            <h1>Cronograma</h1>
          </div>
        </div>
      </div>
      <div class="a-card-wrapper">
        <div class="a-card-body a-card__flex-wrapper">
          <div class="a-card__icon">
                <i class="flaticon-calendar"></i>
          </div>
          <div class="a-card__list">
            <ul>
              <li>{{events}} Eventos</li>
            </ul>
          </div>
        </div>
      </div>
      </a>
    </div>
  <!-- END CARD -->

  <!-- CARD -->
    <div class="a-card a-card__flex" ng-if="rol == 2">
      <a href="#/asignaturas">
      <div class="a-card-wrapper">
        <div class="a-card-header">
          <div class="a-card-header__title-photo">
            <h1>Asignaturas</h1>
          </div>
        </div>
      </div>
      <div class="a-card-wrapper">
        <div class="a-card-body a-card__flex-wrapper">
          <div class="a-card__icon">
                <i class="flaticon-books-stack-of-three"></i>
          </div>
          <div class="a-card__list">
            <ul>
              <li>18 Asignaturas</li>
            </ul>
          </div>
        </div>
      </div>
      </a>
    </div>
  <!-- END CARD -->

  <!-- CARD -->
    <div class="a-card a-card__flex" ng-if="rol == 1">
      <a href="#/asignaturas_adm">
      <div class="a-card-wrapper">
        <div class="a-card-header">
          <div class="a-card-header__title-photo">
            <h1>Asignaturas</h1>
          </div>
        </div>
      </div>
      <div class="a-card-wrapper">
        <div class="a-card-body a-card__flex-wrapper">
          <div class="a-card__icon">
                <i class="flaticon-books-stack-of-three"></i>
          </div>
          <div class="a-card__list">
          </div>
        </div>
      </div>
      </a>
    </div>
  <!-- END CARD -->

  <!-- CARD -->
    <div class="a-card a-card__flex" ng-if="rol == 1 || rol == 2">
      <a href="#/galerias_adm">
      <div class="a-card-wrapper">
        <div class="a-card-header">
          <div class="a-card-header__title-photo">
            <h1>Galeria</h1>
          </div>
        </div>
      </div>
      <div class="a-card-wrapper">
        <div class="a-card-body a-card__flex-wrapper">
          <div class="a-card__icon">
                <i class="flaticon-stack-of-photos"></i>
          </div>
          <div class="a-card__list">
            <ul>
              <li>{{photos}} Fotos</li>
              <li>{{owner_photos}} Fotos mías</li>
            </ul>
          </div>
        </div>
      </div>
      </a>
    </div>
  <!-- END CARD -->

  <!-- CARD -->
    <div class="a-card a-card__flex" ng-if="rol == 2">
      <a href="#/publicaciones_adm">
      <div class="a-card-wrapper">
        <div class="a-card-header">
          <div class="a-card-header__title-photo">
            <h1>Publicaciones</h1>
          </div>
        </div>
      </div>
      <div class="a-card-wrapper">
        <div class="a-card-body a-card__flex-wrapper">
          <div class="a-card__icon">
                <i class="flaticon-open-magazine"></i>
          </div>
          <div class="a-card__list">
            <ul>
              <li>3 Publicaciones</li>
            </ul>
          </div>
        </div>
      </div>
      </a>
    </div>
  <!-- END CARD -->

  <!-- CARD -->
    <div class="a-card a-card__flex" ng-if="rol == 1">
      <a href="#/app_adm">
      <div class="a-card-wrapper">
        <div class="a-card-header">
          <div class="a-card-header__title-photo">
            <h1>Administración del App</h1>
          </div>
        </div>
      </div>
      <div class="a-card-wrapper">
        <div class="a-card-body a-card__flex-wrapper">
          <div class="a-card__icon">
                <i class="flaticon-cogwheel"></i>
          </div>
        </div>
      </div>
      </a>
    </div>
  <!-- END CARD -->

  <!-- FATHERS -->

    <!-- CARD -->
    <div ng-if="rol == 4" style="width:100%">
      <div ng-init="students()" class="a-card__flex-wrapper">
        <div class="a-card a-card__flex" ng-repeat="alumno in alumnos">
          <a href="#/perfil_edit/{{alumno.guid}}">
          <div class="a-card-wrapper">
            <div class="a-card-header">
              <div class="a-card-header__title-photo">
                <h1>{{alumno.nombres}} {{alumno.apellidos}}</h1>
              </div>
            </div>
          </div>
          <div class="a-card-wrapper">
            <div class="a-card-body a-card__flex-wrapper">
              <div class="a-card__icon">
                    <i ng-if="alumno.genero == 'M' && !alumno.avatar " class="flaticon-boy-broad-smile"></i>
                    <i ng-if="alumno.genero == 'F' && !alumno.avatar " class="flaticon-smiling-girl"></i>
                    <img style="width: 90px; border-radius: 50%;"  ng-if="alumno.avatar" ng-src="{{alumno.avatar}}" />
              </div>
              <div class="a-card__list">
                <ul>
                  <li>{{alumno.nacimiento}} Años</li>
                </ul>
              </div>
            </div>
          </div>
          </a>
        </div>
      </div>
    </div>

    <!-- END CARD -->

  <!-- /FATHERS -->


  </div>
</div>
