<div class="a-section">
  <div class="a-title__internal">
    DOCENTES
    <a class="a-btn__add" href ng-click="addTeacher($event,'Docente')" >
      <i class="flaticon-plus"></i>  AGREGAR
    </a>
  </div>
</div>

<div class="a-section">
  <div class="a-card__flex-wrapper">

  <!-- CARD -->
    <div class="a-card a-card__flex">
      <div class="a-card-wrapper">
        <div class="a-card-header">
          <div class="a-card-header__title-photo">
            <h1 class="light">Carolina Restrepo Gómez</h1>
          </div>
          <md-menu>
          <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)">
          <i class="flaticon-show-more-button-with-three-dots"></i>
          </md-button>
          <md-menu-content>
            <md-menu-item>
              <md-button href="#/perfil_edit/1"><i class="flaticon-edit"></i>  Editar</md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-click="delete()"><i class="flaticon-delete-button"></i>Eliminar</md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
        </div>
      </div>
      <div class="a-card-wrapper">
        <div class="a-card-body a-card__flex-wrapper">
          <div class="a-card__icon">
                <i class="flaticon-educator-1"></i>
              <p class="a-state active"> Activo </p>
          </div>
          <div class="a-card__list">
            <ul>
              <li>25 Años</li>
              <li>4 Asignaturas</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  <!-- END CARD -->

  <!-- CARD -->
    <div class="a-card a-card__flex">
      <div class="a-card-wrapper">
        <div class="a-card-header">
          <div class="a-card-header__title-photo">
            <h1 class="light">Carlos Eduardo Olguin Ruiz</h1>
          </div>
          <md-menu>
          <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)">
          <i class="flaticon-show-more-button-with-three-dots"></i>
          </md-button>
          <md-menu-content>
            <md-menu-item>
              <md-button href="#/perfil_edit/1"><i class="flaticon-edit"></i>  Editar</md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-click="delete()"><i class="flaticon-delete-button"></i>Eliminar</md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
        </div>
      </div>
      <div class="a-card-wrapper">
        <div class="a-card-body a-card__flex-wrapper">
          <div class="a-card__icon">
                <i class="flaticon-educator"></i>
              <p class="a-state active"> Activo </p>
          </div>
          <div class="a-card__list">
            <ul>
              <li>25 Años</li>
              <li>4 Asignaturas</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  <!-- END CARD -->

  <!-- CARD -->
    <div class="a-card a-card__flex">
      <div class="a-card-wrapper">
        <div class="a-card-header">
          <div class="a-card-header__title-photo">
            <h1 class="light">Martha Cecilia Romero Castro</h1>
          </div>
          <md-menu>
          <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)">
          <i class="flaticon-show-more-button-with-three-dots"></i>
          </md-button>
          <md-menu-content>
            <md-menu-item>
              <md-button href="#/perfil_edit/1"><i class="flaticon-edit"></i>  Editar</md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-click="delete()"><i class="flaticon-delete-button"></i>Eliminar</md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
        </div>
      </div>
      <div class="a-card-wrapper">
        <div class="a-card-body a-card__flex-wrapper">
          <div class="a-card__icon">
                <i class="flaticon-educator-1"></i>
              <p class="a-state inactive"> Inactivo </p>
          </div>
          <div class="a-card__list">
            <ul>
              <li>25 Años</li>
              <li>4 Asignaturas</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  <!-- END CARD -->

  </div>
</div>
