<div class="a-section">
  <div class="a-title__internal">
    DOCENTES {{rol}}
    <a class="a-btn__add" href ng-click="addTeacher($event,'Docente')" >
      <i class="flaticon-plus"></i>  AGREGAR
    </a>
  </div>
</div>

<div class="a-section">
  <div class="a-card__flex-wrapper">

  <!-- CARD -->
    <div class="a-card a-card__flex" ng-repeat="docente in docentes">
      <div class="a-card-wrapper">
        <div class="a-card-header">
          <div class="a-card-header__title-photo">
            <h1 class="light">{{docente.nombres}} {{docente.apellidos}}</h1>
          </div>
          <md-menu>
          <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)">
          <i class="flaticon-show-more-button-with-three-dots"></i>
          </md-button>
          <md-menu-content>
            <md-menu-item>
              <md-button href="#/perfil_edit/{{docente.guid}}"><i class="flaticon-edit"></i>  Editar</md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-click="delete()"><i class="flaticon-delete-button"></i>Eliminar</md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
        </div>
      </div>
      <div class="a-card-wrapper">
        <div class="a-card-body a-card__flex-wrapper">
          <div class="a-card__icon">
                <i ng-if="docente.genero === 'F' && !docente.avatar" class="flaticon-educator-1"></i>
                <i ng-if="docente.genero === 'M' && !docente.avatar" class="flaticon-educator"></i>
                <img style="width: 90px; border-radius: 50%;"  ng-if="docente.avatar" ng-src="{{docente.avatar}}" />
          </div>
          <div class="a-card__list">
            <ul>
              <li>{{docente.edad}} Años</li>
              <!--li>4 Asignaturas</li-->
            </ul>
          </div>
        </div>
      </div>
    </div>
  <!-- END CARD -->



  </div>
  <div ng-if="docentes.length === 0">
    <h2  class="a-txt-cent">No hay Docentes</h2>
    <br>
  </div>
</div>
