<md-dialog class="a-modal">

  <form ng-submit="editPublicacion()">
    <div class="a-modal__header">
      <h1>Editar Publicacion </h1>
      <a class="a-modal__close" href ng-click="cancel()"><i class="flaticon-close-circular-button-of-a-cross"></i></a>
    </div>
    <div class="a-modal__body">
      <div class="row-fluid a-row-fix">
        <div class="col-sm-12">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Título</label>
            <input ng-model="titulo" />
          </md-input-container>
        </div>
      </div>
      <div class="row-fluid a-row-fix">
        <div class="col-sm-12">
          <md-input-container class="md-block">
            <label>Descripción</label>
            <textarea ng-model="descripcion" md-maxlength="500" rows="5" md-select-on-focus></textarea>
          </md-input-container>
        </div>
      </div>
    </div>
    <div class="a-modal__footer">
      <div ng-if="error" class="alert alert-danger" role="alert" timeout>{{error}}</div>
      <button class="a-button button--color-violet a-text--uppercase" type="submit">
        EDITAR
      </button>
      <a class="a-button button--color-silver" ng-click="cancel()">
        CANCELAR
      </a>
    </div>
  </form>

</md-dialog>
