<div class="a-section a-section--background-white">
  <div class="row-fliud">
    <div class="col-sm-12">

      <div class="a-card">
        <div class="a-card-wrapper">
          <div class="a-card-header">
            <div class="a-card-header__title-photo">
              <h1>{{titulo}}</h1>
            </div>
            <div class="a-card-header__pin-right a-text--color-green">
              {{fecha}}
            </div>
          </div>
        </div>
        <hr>
        <div class="a-card-wrapper">
          <div class="a-card-body">
            <div class="row-fliud">
              <div class="col-sm-5">
                <div class="a-card__image">
                  <img ng-src="assets/img/eventos/{{foto}}" alt="">
                </div>
              </div>
              <div class="col-sm-7">
                <p>
                  <strong>Lugar: </strong> {{lugar}}
                </p>
                <p>
                  <strong>Fecha: </strong> {{fecha}}
                </p>
                <p>
                  <strong>Hora: </strong> {{hora}}
                </p>
                <p>{{descripcion}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
