<div class="row-fluid">
  <div class="a-footer col-sm-12">
    <div class="row-fluid">
      <div class="col-sm-4">
        <h3>INFORMACIÓN DE CONTÁCTO</h3>
        <ul class="a-list">
          <li>
            <p>Institución Educativa Departamental San Nicolás</p>
          </li>
          <li>
            <p>Urbanización San José</p>
          </li>
          <li>
            <p>instedusanicolas@hotmail.com</p>
          </li>
          <li>
            <p>(57) 846 8019</p>
          </li>
        </ul>
      </div>
      <div class="col-sm-4">
        <h3>MAPA DE SITIO</h3>
        <ul class="a-list">
          <li>
            <a href="#/nosotros">Nosotros</a>
          </li>
          <li>
            <a href="#/cronograma">Cronograma</a>
          </li>
          <li>
            <a href="#/docentes">Docentes</a>
          </li>
          <li>
            <a href="#/galeria">Galeria</a>
          </li>
          <li>
            <a href="#/loguin">Iniciar Sesión</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-4">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <div class="a-foto-wrapper">
              <img src="assets/img/logo.png" alt="Conéctate San Nico">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="a-foto-wrapper">
              <img src="assets/img/logo_mintic.png" alt="">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="a-foto-wrapper">
              <img src="assets/img/logo_talento_digital.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
