<div class="a-section">
  <div class="a-title__internal">
    GALERIA
    <a class="a-btn__add" href ng-click="addGallery($event,'Crear')" >
      <i class="flaticon-plus"></i>  AGREGAR
    </a>
  </div>
</div>

<div class="a-section">
  <div class="a-card__flex-wrapper">

  <!-- CARD -->
    <div class="a-card a-card__flex" ng-repeat="galeria in galerias">
      <a href="#/galeria_adm/{{galeria.id}}">
        <div class="a-card-wrapper">
          <div class="a-card-header">
            <div class="a-card-header__title-photo">
              <h1 class="light">{{galeria.titulo}}</h1>
            </div>
            <md-menu>
            <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)">
            <i class="flaticon-show-more-button-with-three-dots"></i>
            </md-button>
            <md-menu-content>
              <md-menu-item>
                <md-button ng-click="editGallery($event,galeria.id)"><i class="flaticon-edit"></i>  Editar</md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="deleteGallery($event,galeria.id)"><i class="flaticon-delete-button"></i>Eliminar</md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
          </div>
        </div>
        <div class="a-card-wrapper">
          <div class="a-card-body a-card__flex-wrapper">
            <div class="a-card__icon">
                  <i class="flaticon-stack-of-photos"></i>
            </div>
            <div class="a-card__list">
              <ul>
                <li>{{galeria.fotos}} Fotos</li>
              </ul>
            </div>
          </div>
          <p class="a-card__description">{{galeria.descripcion}}</p>
        </div>
      </a>
    </div>
  <!-- END CARD -->


  </div>
</div>
