<div class="a-section">
<div class="a-breadcrumb">
  <a class="a-button__back" href back-button>< Atras</a>
</div>

<div class="a-title__internal">
  SEMANA CULTURAL 2015
  <p>Semana Cultural que se realizó del 6 al 11 de Junio</p>

  <a class="a-btn__add" href ng-click="addPhoto($event)" >
    <i class="flaticon-plus"></i>  AGREGAR
  </a>
</div>



<div gallery class="gallery" >
  <div class="image">
    <a href="assets/img/paginas_web.png" class="big"><img src="assets/img/paginas_web.png" alt="" title="Descripcion de la image" /></a>
  </div>
  <div class="image">
    <a href="assets/img/paginas_web.png" class="big"><img src="assets/img/paginas_web.png" alt="" title="Descripcion de la image" /></a>
  </div>
  <div class="image">
    <a href="assets/img/paginas_web.png" class="big"><img src="assets/img/paginas_web.png" alt="" title="Descripcion de la image" /></a>
  </div>
  <div class="image">
    <a href="assets/img/paginas_web.png" class="big"><img src="assets/img/paginas_web.png" alt="" title="Descripcion de la image" /></a>
  </div>
  <div class="image">
    <a href="assets/img/paginas_web.png" class="big"><img src="assets/img/paginas_web.png" alt="" title="Descripcion de la image" /></a>
  </div>
  <div class="image">
    <a href="assets/img/paginas_web.png" class="big"><img src="assets/img/paginas_web.png" alt="" title="Descripcion de la image" /></a>
  </div>
  <div class="image">
    <a href="assets/img/paginas_web.png" class="big"><img src="assets/img/paginas_web.png" alt="" title="Descripcion de la image" /></a>
  </div>
  <div class="image">
    <a href="assets/img/paginas_web.png" class="big"><img src="assets/img/paginas_web.png" alt="" title="Descripcion de la image" /></a>
  </div>
  <div class="image">
    <a href="assets/img/paginas_web.png" class="big"><img src="assets/img/paginas_web.png" alt="" title="Descripcion de la image" /></a>
  </div>
</div>



</div>
