<div class="a-section">
<div class="a-breadcrumb">
  <a class="a-button__back" href back-button>< Atras</a>
</div>

<div class="a-title__internal">
  {{galeria.titulo}}
  <p>{{galeria.descripcion}}</p>

  <a class="a-btn__add" href ng-click="addPhoto($event,galeria.id)" >
    <i class="flaticon-plus"></i>  AGREGAR
  </a>
</div>

<div gallery class="gallery">
  <div class="image" ng-repeat="photo in photos">
    <a href="assets/img/galeria/{{photo.imagen}}" class="big"><img ng-src="assets/img/galeria/{{photo.imagen}}" alt="" title="{{photo.titulo}}" /></a>
  </div>
</div>



</div>
