<div class="a-section">
  <div class="a-banner__internal">
    <img src="assets/img/banners/banner_galeria.jpg" alt="">
  </div>
</div>
<div class="a-section a-section--background-white">
  <div class="row-fluid">

    <div class="col-sm-4" ng-repeat="galeria in galerias">
      <a href="#/album/{{galeria.id}}">
      <div class="a-card a-card--heigth-500">
        <div class="a-card-wrapper">
          <div class="a-card-header">
            <div class="a-card-header__title-photo">
              <h1 class="text-center">{{galeria.titulo}}</h1>
            </div>
          </div>
        </div>
        <div class="a-card__image">
          <img src="assets/img/galeria/foto01.jpg" alt="">
        </div>
        <div class="a-card-wrapper">
          <div class="a-card-body">
            <p>{{galeria.descripcion}}</p>
          </div>
        </div>
      </div>
      </a>
    </div>

  </div>

</div>
