<div class="a-logo-wrapper">
  <div class="a-logo">
    <a href="#/home">
      <img src="assets/img/logo.png" alt="Conéctate San Nico">
    </a>
  </div>
</div>
<div class="a-menu-wrapper">
  <ul class="a-menu">
    <li>
      <a href="#/nosotros" class="button--color-blue">
        NOSOTROS
        <span>Información acerca de nuestra institución</span>
      </a>
    </li>
    <li>
      <a href="#/cronograma" class="button--color-green">
        CRONOGRAMA
        <span>Próximos eventos programados</span>
      </a>
    </li>
    <li>
      <a href="#/docentes" class="button--color-yellow">
        DOCENTES
        <span>Nuestro equipo de trabajo</span>
      </a>
    </li>
    <li>
      <a href="#/galeria" class="button--color-red">
        GALERIA
        <span>Todas las fotos del colegio</span>
      </a>
    </li>
    <li>
      <a href="#/login" class="button--color-violet">
        INGRESAR
        <span>Accede a la información académica</span>
      </a>
    </li>
  </ul>

</div>
