<div class="row-fluid">
  <div class="col-sm-8">
    <div class="a-card a-card--heigth-240">
      <div class="a-card-wrapper">
        <div class="a-card-header">
          <div class="a-card-header__photo">
            <img src="assets/img/avatar/rectora.png" alt="">
          </div>
          <div class="a-card-header__title-photo">
            <h1>Reunión Padres de Familia</h1>
            <h2>Carmen Rosa León Cruz - Rectora</h2>
          </div>
          <div class="a-card-header__pin-right a-text--color-green">
            INSTITUCIONAL
          </div>
        </div>
        <div class="a-card-body">
          <p>
            In corpus linguistics, a collocation is a sequence of words or terms that co-occur more often than would be expected by chance. In phraseology, collocation is a sub-type of phraseme. An example of a phraseological collocation, as propounded by Michael Halliday
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <a href="#galeria"></a>
    <div class="a-card a-card--heigth-240">
      <div class="a-card-photo">
        <img src="assets/img/galeria/gal01.jpg" alt="">
      </div>
      <div class="a-card-photo__title">
        GALERÍA
      </div>
    </div>
  </div>
</div>

<div class="row-fluid">
  <div class="col-sm-8">

    <div class="row">

      <div class="col-sm-6">

        <div class="a-card a-card--heigth-240">
          <div class="a-card-wrapper">
            <div class="a-card-header">
              <div class="a-card-header__photo">
                <img src="assets/img/avatar/rectora.png" alt="">
              </div>
              <div class="a-card-header__title-photo">
                <h1>Andrés Felipe Cortés</h1>
                <h2>Docente</h2>
                <h3>10-04-2016</h3>
              </div>
            </div>
            <div class="a-card-body">
              <p>
                In corpus linguistics, a collocation is a sequence of words or terms that co-occur more often than would be expected by chance. In phraseology, collocation is a sub-type of phraseme. An example of a phraseological collocation, as propounded by Michael Halliday
              </p>
            </div>
          </div>
        </div>

      </div>

      <div class="col-sm-6">

        <div class="a-card a-card--heigth-240">
          <div class="a-card-wrapper">
            <div class="a-card-header">
              <div class="a-card-header__photo">
                <img src="assets/img/avatar/rectora.png" alt="">
              </div>
              <div class="a-card-header__title-photo">
                <h1>Andrés Felipe Cortés</h1>
                <h2>Docente</h2>
                <h3>10-04-2016</h3>
              </div>
            </div>
            <div class="a-card-body">
              <p>
                In corpus linguistics, a collocation is a sequence of words or terms that co-occur more often than would be expected by chance. In phraseology, collocation is a sub-type of phraseme. An example of a phraseological collocation, as propounded by Michael Halliday
              </p>
            </div>
          </div>
        </div>

      </div>

      <div class="col-sm-6">

        <div class="a-card a-card--heigth-240">
          <div class="a-card-wrapper">
            <div class="a-card-header">
              <div class="a-card-header__photo">
                <img src="assets/img/avatar/rectora.png" alt="">
              </div>
              <div class="a-card-header__title-photo">
                <h1>Andrés Felipe Cortés</h1>
                <h2>Docente</h2>
                <h3>10-04-2016</h3>
              </div>
            </div>
            <div class="a-card-body">
              <p>
                In corpus linguistics, a collocation is a sequence of words or terms that co-occur more often than would be expected by chance. In phraseology, collocation is a sub-type of phraseme. An example of a phraseological collocation, as propounded by Michael Halliday
              </p>
            </div>
          </div>
        </div>

      </div>

      <div class="col-sm-6">

        <div class="a-card a-card--heigth-240">
          <div class="a-card-wrapper">
            <div class="a-card-header">
              <div class="a-card-header__photo">
                <img src="assets/img/avatar/rectora.png" alt="">
              </div>
              <div class="a-card-header__title-photo">
                <h1>Andrés Felipe Cortés</h1>
                <h2>Docente</h2>
                <h3>10-04-2016</h3>
              </div>
            </div>
            <div class="a-card-body">
              <p>
                In corpus linguistics, a collocation is a sequence of words or terms that co-occur more often than would be expected by chance. In phraseology, collocation is a sub-type of phraseme. An example of a phraseological collocation, as propounded by Michael Halliday
              </p>
            </div>
          </div>
        </div>

      </div>


    </div>

  </div>
  <div class="col-sm-4">

    <div class="a-card a-card--heigth-500">
      <div class="a-card-wrapper">
        <div class="a-card-header">
          <div class="a-card-header__title-photo">
            <h1>Próximo Evento</h1>
          </div>
          <div class="a-card-header__pin-right a-text--color-green">
            12-04-2016
          </div>
        </div>
      </div>
      <div class="a-card__image">
        <img src="assets/img/eventos/evento01.jpg" alt="">
      </div>
      <div class="a-card-wrapper">
        <div class="a-card-body">
          <p>
            In corpus linguistics, a collocation is a sequence of words or terms that co-occur more often than would be expected by chance. In phraseology, collocation is a sub-type of phraseme. An example of a phraseological collocation, as propounded by Michael Halliday
          </p>
        </div>
      </div>
    </div>

  </div>
</div>
