<div class="a-section">
  <div class="a-title__internal">
    INICIO DE SESIÓN
  </div>
</div>
<div class="a-section a-section--background-white">

  <div class="a-card__flex-wrapper">
    <div class="a-card a-card__flex">
      <div class="a-card-wrapper">
        <div class="a-card-header">
          <div class="a-card-header__title-photo">
            <h1>No tengo cuenta</h1>
          </div>
        </div>
      </div>
      <div class="a-card-wrapper">
        <div class="a-card-body">
          <p>
            In corpus linguistics, a collocation is a sequence of words or terms that co-occur more often than would be expected by chance. In phraseology, collocation is a sub-type of phraseme. An example of a phraseological collocation, as propounded by Michael Halliday
          </p>
        </div>
      </div>
    </div>

    <div class="a-card a-card__flex">
      <div class="a-card-wrapper">
        <div class="a-card-header">
          <div class="a-card-header__title-photo">
            <h1>Ingresa con tus datos</h1>
          </div>
        </div>
      </div>
      <div class="a-card-wrapper">
        <div class="a-card-body">
          <form class="" action="#/dashboard/1" method="post">
            <md-input-container class="md-block">
              <label>Correo Electrónico</label>
              <input name="clientName" >
            </md-input-container>
            <md-input-container class="md-block">
              <label>Password</label>
              <input name="clientName" >
            </md-input-container>
            <div class="a-forgot-password">
                <a href="#/">Olvidé mi contraseña</a>
            </div>
            <div class="a-button-form">
              <button class="a-button button--color-violet">
                ENTRAR
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>



</div>
