<div class="a-section">
  <div class="a-banner__internal">
    <img src="assets/img/banners/banner_nosotros.jpg" alt="">
  </div>
</div>
<div class="a-section a-section--background-white">
  <div class="row-fluid">
    <div class="col-sm-6">
      <div class="a-card">
        <div class="a-card-wrapper">
          <div class="a-card-header">
            <div class="a-card-header__title-photo">
              <h1>Misión</h1>
            </div>
          </div>
          <div class="a-card-body">
            <p>
              In corpus linguistics, a collocation is a sequence of words or terms that co-occur more often than would be expected by chance. In phraseology, collocation is a sub-type of phraseme. An example of a phraseological collocation, as propounded by Michael Halliday
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="a-card">
        <div class="a-card-wrapper">
          <div class="a-card-header">
            <div class="a-card-header__title-photo">
              <h1>Visión</h1>
            </div>
          </div>
          <div class="a-card-body">
            <p>
              In corpus linguistics, a collocation is a sequence of words or terms that co-occur more often than would be expected by chance. In phraseology, collocation is a sub-type of phraseme. An example of a phraseological collocation, as propounded by Michael Halliday
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row-fluid">
    <div class="col-sm-6">
      <div class="a-card">
        <div class="a-card-wrapper">
          <div class="a-card-header">
            <div class="a-card-header__title-photo">
              <h1>Escudo</h1>
            </div>
          </div>
          <div class="a-card-body">
            <div class="a-foto-wrapper">
              <img src="assets/img/escudo.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="a-card">
        <div class="a-card-wrapper">
          <div class="a-card-header">
            <div class="a-card-header__title-photo">
              <h1>Bandera</h1>
            </div>
          </div>
          <div class="a-card-body">
            <div class="a-foto-wrapper">
              <img src="assets/img/bandera.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row-fluid">
    <div class="col-sm-12">
      <div class="a-card">
        <div class="a-card-wrapper">
          <div class="a-card-header">
            <div class="a-card-header__title-photo">
              <h1>Servicios</h1>
            </div>
          </div>
          <div class="a-card-body">
            <div class="a-foto-wrapper">
              <p>
                In corpus linguistics, a collocation is a sequence of words or terms that co-occur more often than would be expected by chance. In phraseology, collocation is a sub-type of phraseme. An example of a phraseological collocation, as propounded by Michael Halliday
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
