<div class="a-section">
<div class="a-breadcrumb">
  <a class="a-button__back" href back-button>< Atras</a>
</div>
  <div class="a-card__flex-wrapper">
    <div class="a-card__flex a-title-icon">
      <i class="flaticon-educator-1"></i>
      <span>Martha Cecilia Romero Castro</span>
    </div>
    <div class="a-card__flex a-title-icon text-right">
      <i class="flaticon-educator-1"></i>
      <span>Docente</span>
    </div>
  </div>

  <!-- CARD -->
    <div class="a-card">
      <div class="a-card-wrapper">

        <div class="a-card__perfil">
          <div class="a-panel-left">

            <div class="a-perfil__photo">
              <i class="flaticon-educator-1"></i>
              <div class="a-perfil__photo-edit-icon">
                <i class="flaticon-photo-camera"></i>
              </div>
            </div>

            <div class="text-center">
              <md-switch class="md-primary" md-no-ink aria-label="Switch No Ink" >Activo</md-switch>
            </div>

            <div>
              <!-- TABS -->
							  <ul tabs class="nav nav-pills nav-stacked" role="tablist">
							  	<li class="active"><a href="#personal" role="tab" data-toggle="tab">PERSONAL</a></li>
							    <li><a href="#academica" role="tab" data-toggle="tab">ACADÉMICA</a></li>
							    <li><a href="#laboral" role="tab" data-toggle="tab">LABORAL</a></li>
							    <li><a href="#medica" role="tab" data-toggle="tab">MÉDICA</a></li>
							  </ul>
                <!-- END TABS -->
            </div>

          </div>
          <div class="a-panel-right tab-content a-card__flex">
            <div role="tabpanel" class="tab-pane active" id="personal" >
                <div class="a-peril__title-info">Información Personal</div>

                <div class="row">
                  <div class="col-sm-6">
                    <md-input-container class="md-block" flex-gt-sm>
                      <label>Nombres</label>
                      <input ng-model="user.firstName">
                    </md-input-container>

                    <div class="row">
                      <div class="col-sm-4">
                        <md-input-container>
                         <label>Tipo Doc</label>
                         <md-select ng-model="tipoDoc">
                           <md-option ng-repeat="doc in tipoDoc" value="{{doc.name}}" >
                             {{doc.name}}
                           </md-option>
                         </md-select>
                       </md-input-container>
                      </div>
                      <div class="col-sm-8">
                        <md-input-container class="md-block" flex-gt-sm>
                          <label>Documento</label>
                          <input ng-model="user.firstName">
                        </md-input-container>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-sm-6">
                        <md-input-container class="md-block" flex-gt-sm>
                          <label>Teléfono Domicilio</label>
                          <input ng-model="user.firstName">
                        </md-input-container>
                      </div>
                      <div class="col-sm-6">
                        <md-input-container class="md-block" flex-gt-sm>
                          <label>Celular</label>
                          <input ng-model="user.firstName">
                        </md-input-container>
                      </div>
                    </div>

                    <md-input-container  class="md-block" flex-gt-xs>
                      <label>Email</label>
                      <input ng-model="user.firstName">
                    </md-input-container>

                  </div>
                  <div class="col-sm-6">
                    <md-input-container class="md-block" flex-gt-sm>
                      <label>Apellidos</label>
                      <input ng-model="user.firstName">
                    </md-input-container>

                    <div class="row" layout-gt-xs="row">
                      <div class="col-sm-6">
                        <md-datepicker ng-model="user.submissionDate" md-placeholder="Nacimiento"></md-datepicker>
                      </div>
                      <div class="col-sm-6">
                        <md-input-container  class="md-block" flex-gt-xs>
                          <label>Estado Civil</label>
                          <input ng-model="user.firstName">
                        </md-input-container>
                      </div>
                    </div>

                    <md-input-container class="md-block" flex-gt-sm>
                      <label>Dirección Domicilio</label>
                      <input ng-model="user.firstName">
                    </md-input-container>

                    <md-button class="a-perfil__reset-password">
                      Reestablecer Contraseña
                    </md-button>

                  </div>
                </div>





            </div>

            <div role="tabpanel" class="tab-pane" id="academica">
              <div class="a-peril__title-info">Información Académica</div>
              <!-- Professional Title -->
              <div>
                <div class="row">
                  <div class="col-sm-6">
                    <md-input-container class="md-block" flex-gt-sm>
                      <label>Nivel Académico</label>
                      <input ng-model="user.firstName">
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm>
                      <label>Programa Académico</label>
                      <input ng-model="user.firstName">
                    </md-input-container>
                  </div>
                  <div class="col-sm-6">
                    <md-input-container class="md-block" flex-gt-sm>
                      <label>Institución</label>
                      <input ng-model="user.firstName">
                    </md-input-container>

                    <md-datepicker ng-model="user.submissionDate" md-placeholder="Fecha de Grado"></md-datepicker>
                  </div>
                </div>

                <md-input-container class="md-block" flex-gt-sm>
                  <label>Titulo Obtenido</label>
                  <input ng-model="user.firstName">
                </md-input-container>
              </div>
              <!-- End Professional Tittle -->

              <hr>

              <a href="javascript:void(0)" class="a-button__add-form">
                <i class="flaticon-plus"></i>
                <span>Agregar</span>
              </a>

            </div>

            <div role="tabpanel" class="tab-pane" id="laboral">
              <div class="a-peril__title-info">Información Laboral</div>

              <!-- Professional Title -->
              <div>
                <div class="row">
                  <div class="col-sm-6">
                    <md-input-container class="md-block" flex-gt-sm>
                      <label>Nombre de la Compañía</label>
                      <input ng-model="user.firstName">
                    </md-input-container>

                    <div class="row">
                      <div class="col-sm-6">
                        <md-datepicker ng-model="user.submissionDate" md-placeholder="Fecha Inicio"></md-datepicker>
                      </div>
                      <div class="col-sm-6">
                        <md-datepicker ng-model="user.submissionDate" md-placeholder="Fecha Fin"></md-datepicker>
                      </div>
                    </div>

                  </div>
                  <div class="col-sm-6">
                    <md-input-container class="md-block" flex-gt-sm>
                      <label>Cargo Desempeñado</label>
                      <input ng-model="user.firstName">
                    </md-input-container>

                    <md-input-container class="md-block">
                      <label>¿Actualmente se encuentra en esta compañía?</label>
                      <md-select ng-model="myModel" required>
                        <md-option value="S">SI</md-option>
                        <md-option value="N">NO</md-option>
                      </md-select>
                    </md-input-container>

                  </div>
                </div>

                <md-input-container class="md-block" flex-gt-sm>
                  <label>Función del Cargo</label>
                  <input ng-model="user.firstName">
                </md-input-container>
              </div>
              <!-- End Professional Tittle -->

              <hr>

              <a href="javascript:void(0)" class="a-button__add-form">
                <i class="flaticon-plus"></i>
                <span>Agregar</span>
              </a>

            </div>

            <div role="tabpanel" class="tab-pane" id="medica">
              <div class="a-peril__title-info">Información Médica</div>

              <div class="row">
                <div class="col-sm-6">
                  <div class="row">
                    <div class="col-sm-4">
                      <md-input-container class="md-block" flex-gt-sm>
                        <label>Altura (mts)</label>
                        <input ng-model="user.firstName">
                      </md-input-container>
                    </div>
                    <div class="col-sm-4">
                      <md-input-container class="md-block" flex-gt-sm>
                        <label>Peso (kgs)</label>
                        <input ng-model="user.firstName">
                      </md-input-container>
                    </div>
                    <div class="col-sm-4">
                      <md-input-container class="md-block">
                        <label>RH</label>
                        <md-select ng-model="myModel" required>
                          <md-option value="S">O+</md-option>
                          <md-option value="N">O-</md-option>
                        </md-select>
                      </md-input-container>
                    </div>
                  </div>

                  <md-input-container class="md-block" flex-gt-sm>
                    <label>Clínica Preferída</label>
                    <input ng-model="user.firstName">
                  </md-input-container>

                </div>
                <div class="col-sm-6">
                  <md-input-container class="md-block">
                    <label>Entidad Promotora de Salud (EPS)</label>
                    <md-select ng-model="myModel" required>
                      <md-option value="S">Cafesalud</md-option>
                      <md-option value="N">Sanitas</md-option>
                    </md-select>
                  </md-input-container>

                  <div class="row">
                    <div class="col-sm-6">
                      <md-input-container class="md-block" flex-gt-sm>
                        <label>Médico Particular</label>
                        <input ng-model="user.firstName">
                      </md-input-container>
                    </div>
                    <div class="col-sm-6">
                      <md-input-container class="md-block" flex-gt-sm>
                        <label>Teléfono</label>
                        <input ng-model="user.firstName">
                      </md-input-container>
                    </div>
                  </div>

                </div>
              </div>

              <md-input-container class="md-block" flex-gt-sm>
                <label>Observaciones</label>
                <input ng-model="user.firstName">
              </md-input-container>

              <br>

              <div class="a-peril__title-info">En caso de Emergencia llamar a:</div>

              <div class="row">
                <div class="col-sm-6">
                  <md-input-container class="md-block" flex-gt-sm>
                    <label>Nombre Contácto</label>
                    <input ng-model="user.firstName">
                  </md-input-container>
                </div>
                <div class="col-sm-6">
                  <md-input-container class="md-block" flex-gt-sm>
                    <label>Teléfono</label>
                    <input ng-model="user.firstName">
                  </md-input-container>
                </div>
              </div>

            </div>

          </div>
        </div>

      </div>
    </div>
  <!-- END CARD -->

</div>
