<div class="a-section">
<div class="a-breadcrumb">
  <a class="a-button__back" href back-button>< Atras</a>
</div>

<div class="a-card__flex-wrapper">
  <div class="a-card__flex a-title-icon">
    <div class="a-tittle-icon__wrapper">
      <i  ng-if="rol == 2 && genero == 'F'" class="flaticon-educator-1"></i>
      <i  ng-if="rol == 2 && genero == 'M'" class="flaticon-educator"></i>
      <i  ng-if="rol == 3 && genero == 'M'" class="flaticon-boy-broad-smile"></i>
      <i  ng-if="rol == 3 && genero == 'F'" class="flaticon-smiling-girl"></i>
      <i  ng-if="rol == 4" class="flaticon-command"></i>
      <i  ng-if="rol == 1" class="flaticon-cogwheel"></i>

    </div>
    <div class="a-tittle-info__wrapper">
      <span>{{nombres}} {{apellidos}}</span>
      <span class="a-card__grade" ng-if="rol == 3">Curso {{curso}}°</span>
    </div>
  </div>
  <div class="a-card__flex a-title-icon text-right">
    <i  ng-if="rol == 2 && genero == 'F'" class="flaticon-educator-1"></i>
    <i  ng-if="rol == 2 && genero == 'M'" class="flaticon-educator"></i>
    <i  ng-if="rol == 3 && genero == 'M'" class="flaticon-boy-broad-smile"></i>
    <i  ng-if="rol == 3 && genero == 'F'" class="flaticon-smiling-girl"></i>
    <i  ng-if="rol == 4" class="flaticon-command"></i>
    <i  ng-if="rol == 1" class="flaticon-cogwheel"></i>
    <span ng-if="rol == 2">Docente</span>
    <span ng-if="rol == 3">Alumno</span>
    <span ng-if="rol == 4">Acudiente</span>
    <span ng-if="rol == 1">Administrador</span>
  </div>
</div>

  <!-- CARD -->
    <div class="a-card">
      <div class="a-card-wrapper">

        <div class="a-card__perfil">
          <div class="a-panel-left">

            <div class="a-perfil__photo">
              <i  ng-if="!avatar && !myCroppedImage  && rol == 2 && genero == 'F'" class="flaticon-educator-1"></i>
              <i  ng-if="!avatar && !myCroppedImage && rol == 2 && genero == 'M'" class="flaticon-educator"></i>
              <i  ng-if="!avatar && !myCroppedImage && rol == 3 && genero == 'M'" class="flaticon-boy-broad-smile"></i>
              <i  ng-if="!avatar && !myCroppedImage && rol == 3 && genero == 'F'" class="flaticon-smiling-girl"></i>
              <i  ng-if="!avatar && !myCroppedImage && rol == 4" class="flaticon-command"></i>
              <i  ng-if="!avatar && !myCroppedImage && rol == 1" class="flaticon-cogwheel"></i>
              <img style="width: 100%" ng-if="myCroppedImage || myCroppedImage != ''" ng-src="{{myCroppedImage}}" />
              <img style="width: 100%"  ng-if="avatar" ng-src="{{avatar}}" />

              <div ng-show="rolSession != 3 || rolSession != 3 && rolSession == rol " ng-hide="rolSession == 4 && rol == 3 || rolSession == 2 && rol == 3" class="a-perfil__photo-edit-icon">

                <input type="file" id="fileInput" />
                <i class="flaticon-photo-camera"  ng-click="changeAvatar($event,guid)"></i>

              </div>
            </div>

            <br>
            <!--div class="text-center">
              <md-switch class="md-primary" md-no-ink aria-label="Switch No Ink" >Activo</md-switch>
            </div-->

            <div>
              <!-- TABS -->
							  <ul tabs class="nav nav-pills nav-stacked" role="tablist">
							  	<li ng-class="{'active' : rol != 3}"><a href="#personal" role="tab" data-toggle="tab">PERSONAL</a></li>
							    <li ng-class="{'active' : rol == 3}"><a href="#academica" role="tab" data-toggle="tab">ACADÉMICA</a></li>
							    <li><a href="#laboral" role="tab" data-toggle="tab" ng-show="rol != 3">LABORAL</a></li>
							    <!--li><a href="#asistencia" role="tab" data-toggle="tab" ng-show="rol == 3">ASISTENCIA</a></li-->
							    <li><a href="#medica" role="tab" data-toggle="tab">MÉDICA</a></li>
							  </ul>
                <!-- END TABS -->
            </div>

          </div>
          <div class="a-panel-right tab-content a-card__flex">
            <div role="tabpanel" ng-class="{'active' : rol != 3}" class="tab-pane" id="personal" >
                <div class="a-peril__title-info">Información Personal</div>

                 <div style="display: none" class="cropArea">
                   <img-crop image="myImage" result-image="myCroppedImage"></img-crop>
                 </div>

                <div class="row">

                <form ng-submit="updateUser()">

                  <div class="row">
                  <div class="col-sm-6">
                    <md-input-container class="md-block" flex-gt-sm>
                      <label>Nombres</label>
                      <input ng-model="nombres" required ng-readonly="rolSession != 1">
                    </md-input-container>

                    <div class="row">
                      <!--div class="col-sm-4">
                        <md-input-container>
                         <label>Tipo Doc</label>
                         <md-select ng-model="tipoDoc">
                           <md-option ng-repeat="doc in tipoDoc" value="{{doc.name}}" >
                             {{doc.name}}
                           </md-option>
                         </md-select>
                       </md-input-container>
                     </div-->
                      <div class="col-sm-12">
                        <md-input-container class="md-block" flex-gt-sm>
                          <label>Documento</label>
                          <input ng-model="documento" required ng-readonly="rolSession != 1">
                        </md-input-container>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-sm-6">
                        <md-input-container class="md-block" flex-gt-sm>
                          <label>Teléfono Domicilio</label>
                          <input ng-model="telefono" ng-readonly="rolSession != 1">
                        </md-input-container>
                      </div>
                      <div class="col-sm-6">
                        <md-input-container class="md-block" flex-gt-sm>
                          <label>Celular</label>
                          <input ng-model="celular" ng-readonly="rolSession != 1">
                        </md-input-container>
                      </div>
                    </div>

                    <md-input-container  class="md-block" flex-gt-xs>
                      <label>Email</label>
                      <input ng-model="email" required ng-readonly="rolSession != 1">
                    </md-input-container>

                  </div>
                  <div class="col-sm-6">
                    <md-input-container class="md-block" flex-gt-sm>
                      <label>Apellidos</label>
                      <input ng-model="apellidos" required ng-readonly="rolSession != 1">
                    </md-input-container>

                    <div class="row" layout-gt-xs="row">
                      <!--div class="col-sm-6">
                        <md-datepicker ng-model="user.submissionDate" md-placeholder="Nacimiento"></md-datepicker>
                      </div-->
                      <div ng-show="rol != 3" class="col-sm-12">
                        <md-input-container  class="md-block" flex-gt-xs>
                          <label>Estado Civil</label>
                          <input ng-model="escivil" ng-readonly="rolSession != 1">
                        </md-input-container>
                      </div>
                      <div ng-show="rol == 3" class="col-sm-12">
                        <md-input-container class="md-block">
                          <label>Curso</label>
                          <p ng-if="rolSession != 1">{{curso}}°</p>
                          <md-select ng-model="grado" ng-show="rolSession == 1">
                            <md-option ng-repeat="curso in cursos" value="{{curso.id}}" >
                              {{curso.name}} º
                            </md-option>
                          </md-select>
                        </md-input-container>
                      </div>
                    </div>

                    <md-input-container class="md-block" flex-gt-sm>
                      <label>Dirección Domicilio</label>
                      <input ng-model="direccion" ng-readonly="rolSession != 1">
                    </md-input-container>

                    <!--md-button class="a-perfil__reset-password">
                      Reestablecer Contraseña
                    </md-button-->

                  </div>
                </div>

                  <div ng-if="errUser" class="alert alert-danger" role="alert" timeout>{{errUser}}</div>
                  <div ng-if="successUpdDatosPersonales" class="alert alert-success" role="success" timeout>{{successUpdDatosPersonales}}</div>

                  <div ng-if="rolSession == 1" class="a-button-form">
                    <button class="a-button button--color-violet a-text--uppercase" type="submit"> GUARDAR </button>
                  </div>
                </form>
                </div>


              <div ng-if="rol == 3">
                <div class="a-peril__title-info">Acudientes</div>
                <div class="row">
                    <!-- Acudiente -->
                    <div class="col-sm-12" ng-repeat="acudiente in acudientes">
                      <a href="#/perfil_edit/{{acudiente.guid}}" style="width: 96%; display: block;">
                      <div class="a-list__alumn a-list__alumn--space ">
                          <div class="a-list__photo">
                            <i class="flaticon-boy-broad-smile"></i>
                          </div>
                          <div class="a-list__name">
                            {{acudiente.nombres}} {{acudiente.apellidos}}
                          </div>
                      </div>
                      </a>
                      <div  ng-if="rolSession == 1" style="position:absolute; right:1em; top:1em" ng-click="deleteFather(acudiente.guid)">
                        <i style="color:red" class="flaticon-close-circular-button-of-a-cross"></i>
                      </div>
                    </div>
                    <!-- End Acudiente -->
                </div>

                <div ng-if="rolSession == 1" class="a-button-form">
                  <a href="javascript:void(0)" class="a-button button--color-violet a-text--uppercase" ng-click="addFather($event,guid)">
                    <i class="flaticon-plus"></i> AGREGAR
                  </a>
                </div>

              </div>

              <div ng-if="rol == 4">
                <div class="a-peril__title-info">Alumnos</div>
                <div class="row">
                    <!-- Alumno -->
                    <div class="col-sm-12" ng-repeat="alumno in alumnos">
                      <a href="#/perfil_edit/{{alumno.guid}}" style="width: 96%; display: block;">
                      <div class="a-list__alumn a-list__alumn--space ">
                          <div class="a-list__photo">
                            <i class="flaticon-boy-broad-smile"></i>
                          </div>
                          <div class="a-list__name">
                            {{alumno.nombres}} {{alumno.apellidos}}
                          </div>
                      </div>
                      </a>
                      <div ng-if="rolSession == 1" style="position:absolute; right:1em; top:1em" ng-click="deleteAlumno(alumno.guid)">
                        <i style="color:red" class="flaticon-close-circular-button-of-a-cross"></i>
                      </div>
                    </div>
                    <!-- End Alumno -->
                </div>

                <div ng-if="rolSession == 1" class="a-button-form">
                  <a href="javascript:void(0)" class="a-button button--color-violet a-text--uppercase" ng-click="addAlumno($event,guid)">
                    <i class="flaticon-plus"></i> AGREGAR
                  </a>
                </div>

              </div>


            </div>

            <div role="tabpanel" ng-class="{'active' : rol == 3}" class="tab-pane" id="academica">
              <div class="a-peril__title-info">Información Académica</div>
              <!-- Professional Title -->
              <div ng-show="rol != 3">
              <div>
                <form ng-submit="updAcademicAdult(idAcademicAd)">
                <div class="row">
                  <div class="col-sm-6">
                    <md-input-container class="md-block" flex-gt-sm>
                      <label>Nivel Académico</label>
                      <input ng-model="nivel_academico" ng-readonly="rolSession != 1">
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm>
                      <label>Programa Académico</label>
                      <input ng-model="programa_academico" ng-readonly="rolSession != 1">
                    </md-input-container>
                  </div>
                  <div class="col-sm-6">

                    <md-input-container class="md-block" flex-gt-sm>
                      <label>Institución</label>
                      <input ng-model="institucion" ng-readonly="rolSession != 1">
                    </md-input-container>

                    <md-datepicker ng-model="fecha_grado" md-placeholder="Fecha de Grado"></md-datepicker>

                  </div>
                </div>

                <md-input-container class="md-block" flex-gt-sm>
                  <label>Titulo Obtenido</label>
                  <input ng-model="titulo" ng-readonly="rolSession != 1">
                </md-input-container>

                <div ng-if="rolSession == 1" class="a-button-form">
                  <button class="a-button button--color-violet a-text--uppercase" type="submit"> GUARDAR </button>
                </div>

                </form>
              </div>
              <!-- End Professional Tittle -->

              <hr>

              <!--a href="javascript:void(0)" class="a-button__add-form">
                <i class="flaticon-plus"></i>
                <span>Agregar</span>
              </a-->

              </div>

              <div ng-show="rol == 3">
              <div class="row">
                <!-- Alumns Academic -->
                <div class="col-sm-4" ng-repeat="asignatura in asignaturas">
                  <div class="a-subject">
                    <a href="#/asignatura/{{asignatura.id}}/{{guid}}">
                      <div class="a-subject__header">
                        <div class="a-subject__icon">
                          <i class="flaticon-notebook"></i>
                        </div>
                        <div class="a-subject__name">
                          {{asignatura.name}}
                        </div>
                      </div>
                      <div class="a-subject__failure">
                        <p><strong>Docente:</strong></p>
                        {{asignatura.nombres_docente}} {{asignatura.apellidos_docente}}
                      </div>
                      <div ng-if="asignatura.nota" class="a-subject__score">{{asignatura.nota}}</div>
                    </a>
                  </div>
                </div>
                <!-- End Alumns Academic -->

              </div>
              </div>


            </div>

            <div role="tabpanel" class="tab-pane" id="asistencia">
              <div class="a-peril__title-info">Asistencia</div>
              <div class="table-responsive">
                <table class="table table-condensed">
                  <thead>
                    <tr>
                      <th>Periodo</th>
                      <th>Fecha</th>
                      <th>Asignatura</th>
                      <th>Tipo</th>
                      <th>Justificación</th>
                      <th>Observaciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Primer Periodo</td>
                      <td>12-06-2016</td>
                      <td>Algebra</td>
                      <td>1</td>
                      <td>No</td>
                      <td>texto texto texto texto texto texto </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </div>

            <div role="tabpanel" class="tab-pane" id="laboral">
              <div class="a-peril__title-info">Información Laboral</div>

              <!-- Professional Title -->
              <form ng-submit="updLaboralAdult(idLaboralAd)">
              <div>
                <div class="row">
                  <div class="col-sm-6">
                    <md-input-container class="md-block" flex-gt-sm>
                      <label>Nombre de la Compañía</label>
                      <input ng-model="nombre_empresa"  ng-readonly="rolSession != 1">
                    </md-input-container>

                    <div class="row">
                      <div class="col-sm-6">
                        <md-datepicker ng-model="fecha_inicio" md-placeholder="Fecha Inicio"></md-datepicker>
                      </div>
                      <div class="col-sm-6">
                        <md-datepicker ng-model="fecha_fin" md-placeholder="Fecha Fin"></md-datepicker>
                      </div>
                    </div>

                  </div>
                  <div class="col-sm-6">
                    <md-input-container class="md-block" flex-gt-sm>
                      <label>Cargo Desempeñado</label>
                      <input ng-model="cargo"  ng-readonly="rolSession != 1">
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm>
                      <label>Función del Cargo</label>
                      <input ng-model="funcion"  ng-readonly="rolSession != 1">
                    </md-input-container>

                  </div>
                </div>


              </div>
              <!-- End Professional Tittle -->

              <div ng-if="rolSession == 1" class="a-button-form">
                <button class="a-button button--color-violet a-text--uppercase" type="submit"> GUARDAR </button>
              </div>

              <hr>

              <!--a href="javascript:void(0)" class="a-button__add-form">
                <i class="flaticon-plus"></i>
                <span>Agregar</span>
              </a-->

            </form>

            </div>

            <div role="tabpanel" class="tab-pane" id="medica">
              <div class="a-peril__title-info">Información Médica</div>

            <form ng-submit="updInfoMedica(idinfoMedica)">
              <div class="row">
                <div class="col-sm-6">
                  <div class="row">
                    <div class="col-sm-4">
                      <md-input-container class="md-block" flex-gt-sm>
                        <label>Altura (mts)</label>
                        <input ng-model="altura"  ng-readonly="rolSession != 1">
                      </md-input-container>
                    </div>
                    <div class="col-sm-4">
                      <md-input-container class="md-block" flex-gt-sm>
                        <label>Peso (kgs)</label>
                        <input ng-model="peso"  ng-readonly="rolSession != 1">
                      </md-input-container>
                    </div>
                    <div class="col-sm-4">
                      <md-input-container class="md-block" flex-gt-sm>
                        <label>RH</label>
                        <input ng-model="rh"  ng-readonly="rolSession != 1">
                      </md-input-container>
                    </div>
                  </div>

                  <md-input-container class="md-block" flex-gt-sm>
                    <label>Clínica Preferída</label>
                    <input ng-model="clinica"  ng-readonly="rolSession != 1">
                  </md-input-container>

                </div>
                <div class="col-sm-6">
                  <md-input-container class="md-block" flex-gt-sm>
                    <label>Entidad Promotora de Salud (EPS)</label>
                    <input ng-model="eps"  ng-readonly="rolSession != 1">
                  </md-input-container>

                  <div class="row">
                    <div class="col-sm-6">
                      <md-input-container class="md-block" flex-gt-sm>
                        <label>Médico Particular</label>
                        <input ng-model="medico"  ng-readonly="rolSession != 1">
                      </md-input-container>
                    </div>
                    <div class="col-sm-6">
                      <md-input-container class="md-block" flex-gt-sm>
                        <label>Teléfono del Médico</label>
                        <input ng-model="telefono_medico"  ng-readonly="rolSession != 1">
                      </md-input-container>
                    </div>
                  </div>

                </div>
              </div>

              <md-input-container class="md-block" flex-gt-sm>
                <label>Observaciones</label>
                <input ng-model="observaciones"  ng-readonly="rolSession != 1">
              </md-input-container>

              <br>

              <div class="a-peril__title-info">En caso de Emergencia llamar a:</div>

              <div class="row">
                <div class="col-sm-6">
                  <md-input-container class="md-block" flex-gt-sm>
                    <label>Nombre Contácto</label>
                    <input ng-model="nombre_contacto"  ng-readonly="rolSession != 1">
                  </md-input-container>
                </div>
                <div class="col-sm-6">
                  <md-input-container class="md-block" flex-gt-sm>
                    <label>Teléfono</label>
                    <input ng-model="telefono_contacto"  ng-readonly="rolSession != 1">
                  </md-input-container>
                </div>
              </div>

              <div ng-if="rolSession == 1" class="a-button-form">
                <button class="a-button button--color-violet a-text--uppercase" type="submit"> GUARDAR </button>
              </div>

            </form>

            </div>

          </div>
        </div>

      </div>
    </div>
  <!-- END CARD -->

</div>
