md-input-container .md-errors-spacer {
    position: absolute;
    right: 0;
    top: 0;
  }

md-input-container {
      margin: 18px 0 0 0;
      padding: 0;
}

.md-menu {
  padding: 0;
}

.md-button.md-icon-button {
  height: auto;
  padding: 0;
  margin: 0;
  width: auto;
}

md-menu-item,
md-menu-item > .md-button {
  height: auto;
  min-height: auto;
}

md-input-container.md-input-focused label:not(.md-no-float),
md-input-container.md-input-has-value label:not(.md-no-float) {
  font-size: 12px;
}

md-datepicker {
  display: block;
    padding-top: .7em;
}

.md-datepicker-input-container {
  width: 85%;
}
