md-input-container .md-errors-spacer {
  position: absolute;
  right: 0;
  top: 0; }

md-input-container {
  margin: 18px 0 0 0;
  padding: 0; }

.md-menu {
  padding: 0; }

.md-button.md-icon-button {
  height: auto;
  padding: 0;
  margin: 0;
  width: auto; }

md-menu-item,
md-menu-item > .md-button {
  height: auto;
  min-height: auto; }

md-input-container.md-input-focused label:not(.md-no-float),
md-input-container.md-input-has-value label:not(.md-no-float) {
  font-size: 12px; }

md-datepicker {
  display: block;
  padding-top: .7em; }

.md-datepicker-input-container {
  width: 85%; }

md-switch {
  margin: 0; }

body, html {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  background: #F7F7F7; }

a:hover, a:focus {
  text-decoration: none; }

.a-header {
  padding: 1em;
  overflow: hidden;
  border-bottom: 2px dashed #E0E0E0;
  height: 140px; }

.a-footer {
  background: #EBEBEB; }

.a-list {
  padding: 0;
  margin: 0; }

.a-list li {
  list-style: none;
  font-size: 14px; }
  .a-list li p {
    padding: 0;
    margin: 0; }
  .a-list li a {
    color: #161616;
    text-decoration: none; }
    .a-list li a:hover {
      color: #1B95C4; }

.a-foto-wrapper {
  padding: 1em .5em; }
  .a-foto-wrapper img {
    width: 100%; }

.a-banner__internal img {
  width: 100%; }

.a-breadcrumb {
  padding: .5em; }

.a-logo-wrapper,
.a-menu-wrapper {
  float: left;
  margin: 0;
  padding: 0; }

.a-logo-wrapper {
  width: 30%; }

.a-menu-wrapper {
  width: 70%; }

.a-section {
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden; }

.a-section--background-white {
  background: #fff;
  padding: 1em; }

.a-row-fix {
  overflow: hidden; }

.list_scroll {
  max-width: 600px;
  max-height: 300px;
  overflow-y: auto; }

.a-logo {
  max-width: 300px; }
  .a-logo img {
    width: 100%; }

.a-menu {
  margin: 0;
  padding: 1em 0;
  text-align: right; }
  .a-menu li {
    display: inline-block;
    margin: auto; }
    .a-menu li a {
      padding: .7em 1em;
      color: #FFF;
      text-decoration: none;
      display: block;
      transition: .5s;
      height: 40px;
      position: relative; }
      .a-menu li a span {
        position: absolute;
        top: 35px;
        font-size: 11px;
        line-height: 1em;
        text-align: center;
        left: 0;
        padding: 1em 2em;
        display: block;
        opacity: 0;
        transition: all 1s; }
      .a-menu li a:hover {
        height: 108px; }
        .a-menu li a:hover span {
          opacity: 1; }

.a-button-form {
  text-align: center;
  padding: 1em 0; }

.a-button {
  font-size: 16px;
  padding: .5em 1em;
  color: #FFF;
  border: 0;
  text-decoration: none; }

.button--color-blue {
  background-color: #1B95C4; }
  .button--color-blue:hover {
    background-color: #1781a9; }

.button--color-green {
  background-color: #A8BD46; }
  .button--color-green:hover {
    background-color: #95a83c; }

.button--color-red {
  background-color: #E16363; }
  .button--color-red:hover {
    background-color: #dc4949; }

.button--color-violet {
  background-color: #D477D0; }
  .button--color-violet:hover {
    background-color: #cd60c8; }

.button--color-yellow {
  background-color: #DBA348; }
  .button--color-yellow:hover {
    background-color: #d6962e; }

.button--color-silver {
  background-color: #919191; }
  .button--color-silver:hover {
    background-color: #828282; }

.a-forgot-password {
  text-align-last: right;
  margin: 0;
  padding: 0; }
  .a-forgot-password a {
    font-size: 12px; }

.a-button__add-form {
  display: block;
  text-align: right; }
  .a-button__add-form span {
    font-size: 12px; }

.a-button__back {
  font-size: 12px;
  padding: .5em 1em; }

.a-btn__add {
  background: #A8BD46;
  font-size: 15px;
  color: #FFF;
  padding: .3em 1em;
  font-weight: bold;
  position: absolute;
  top: 50%;
  right: 1em;
  margin-top: -15px; }
  .a-btn__add:hover, .a-btn__add:focus {
    color: #FFF;
    background: #99ac3d;
    text-decoration: none; }

.a-card {
  position: relative;
  margin: 0.5rem 0 1rem 0;
  background-color: #fff;
  transition: box-shadow .25s;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  overflow: hidden;
  min-width: 320px; }

.a-card__flex-wrapper {
  display: flex;
  flex-wrap: wrap; }

.a-card__flex {
  flex: 1;
  margin: 1em; }

.a-card-wrapper {
  margin: 1em; }

.a-card-header {
  position: relative;
  display: flex;
  align-items: center; }
  .a-card-header .a-card-header__info-right {
    position: absolute;
    top: 0;
    right: 0;
    color: #E16363;
    font-size: 16px; }

.a-card-header__photo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block; }
  .a-card-header__photo img {
    width: 100%; }

.a-card-header__title-photo {
  display: inline-block;
  width: 100%; }
  .a-card-header__title-photo h1, .a-card-header__title-photo h2, .a-card-header__title-photo h3 {
    line-height: 1.2em;
    margin: 0;
    padding: 0; }
  .a-card-header__title-photo h1 {
    font-size: 20px;
    color: #1B95C4;
    font-weight: bold; }
  .a-card-header__title-photo h2 {
    font-size: 16px;
    color: gray;
    font-weight: 300; }
  .a-card-header__title-photo h3 {
    font-size: 12px;
    color: silver; }
  .a-card-header__title-photo .light {
    font-weight: 400; }
  .a-card-header__title-photo .curso {
    font-weight: 400;
    display: inline-block;
    font-size: 36px;
    padding-right: .5em;
    border-right: 1px solid silver; }
  .a-card-header__title-photo .curso--span {
    font-size: 14px;
    color: gray;
    padding-left: 1em; }

.a-card-header__pin-right {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 13px; }

.a-card-body {
  margin-top: 1em;
  overflow: hidden; }
  .a-card-body p {
    font-size: 16px;
    color: #868686;
    text-align: justify; }

.a-card-photo {
  overflow: hidden;
  max-height: 200px; }

.a-card-photo__title {
  text-align: center;
  color: silver;
  font-size: 18px;
  font-weight: bold;
  padding: .4em 0;
  display: block; }

.a-card__image {
  max-height: 250px;
  overflow: hidden; }
  .a-card__image img {
    width: 100%; }

.a-card__image__circular {
  width: 250px;
  margin: 0 auto;
  border-radius: 50%; }

.a-card--heigth-240 {
  height: 240px; }

.a-card--heigth-500 {
  height: 505px; }

.a-card__icon,
.a-card__list {
  flex: 1; }

.a-card__icon {
  text-align: center; }
  .a-card__icon i {
    font-size: 90px;
    color: #717171;
    line-height: 1em; }

.a-state {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 12px; }

.a-state.active {
  color: #a8bd46; }

.a-state.inactive {
  color: #e16363; }

.a-card__list {
  border-left: 1px dashed #717171; }
  .a-card__list ul {
    margin: 0;
    padding: 0; }
    .a-card__list ul li {
      list-style: none;
      text-align: right;
      color: #717171; }

.a-card__perfil {
  display: flex; }
  .a-card__perfil .a-panel-left {
    width: 200px; }

.a-card__description {
  padding: .5em;
  text-align: left;
  color: #919191; }

h3 {
  font-size: 16px;
  font-weight: bold;
  color: #292929; }

.a-text--color-green {
  color: #A8BD46; }

.a-title__internal {
  font-size: 25px;
  color: #1B95C4;
  text-align: center;
  padding: 2em 1em;
  position: relative; }
  .a-title__internal p {
    font-size: 16px;
    color: gray; }

.a-title-icon {
  position: relative;
  min-height: 45px; }
  .a-title-icon i {
    font-size: 18px; }
  .a-title-icon .a-tittle-icon__wrapper {
    position: absolute;
    top: 0;
    left: 0; }
    .a-title-icon .a-tittle-icon__wrapper i {
      font-size: 35px; }
  .a-title-icon .a-tittle-info__wrapper {
    margin-left: 40px;
    float: left; }
    .a-title-icon .a-tittle-info__wrapper span {
      color: #1B95C4;
      font-size: 20px;
      padding: 8px .5em 0 .5em;
      line-height: 1em;
      display: block; }
    .a-title-icon .a-tittle-info__wrapper .a-card__grade {
      font-size: 16px;
      color: #E16363;
      padding: 0 .5em; }

.a-tittle-info__perfil {
  float: left;
  border-left: 1px solid #1B95C4;
  margin: .5em; }
  .a-tittle-info__perfil a {
    font-size: 14px;
    padding: .5em; }

.a-text_promedio-total {
  color: #1B95C4;
  text-align: center;
  display: block;
  font-size: 22px;
  border-top: 1px dashed silver;
  padding: .5em 0; }

.a-text-left {
  text-align: left; }

.a-text--uppercase {
  text-transform: uppercase; }

.a-txt-cent {
  text-align: center; }

.gallery {
  overflow: hidden; }
  .gallery .image {
    width: 150px;
    float: left;
    margin: 1em;
    border: 1px solid silver; }
    .gallery .image img {
      width: 100%; }

.a-gallery__photo a {
  height: 126px;
  text-align: center;
  display: block; }
  .a-gallery__photo a img {
    height: 100%; }

.a-perfil__photo {
  width: 150px;
  height: 150px;
  border: 1px dashed #acacac;
  position: relative;
  text-align: center; }
  .a-perfil__photo > i {
    font-size: 100px;
    color: #828282; }
  .a-perfil__photo .a-perfil__photo-edit-icon {
    position: absolute;
    bottom: 0;
    right: 0;
    background: #acacac;
    color: #FFF;
    font-size: 26px;
    width: 40px;
    height: 40px;
    text-align: center; }

.a-peril__title-info {
  text-align: center;
  color: #1B95C4;
  font-size: 18px;
  border-bottom: 1px dashed #acacac;
  width: 100%;
  padding: .5em 0;
  margin-bottom: 1em; }

.a-perfil__reset-password {
  margin-top: 1em;
  color: #1B95C4; }

.a-dropdown {
  position: absolute;
  width: 32px;
  height: 32px;
  right: 10px;
  top: 48px; }
  .a-dropdown a {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
    display: block; }
    .a-dropdown a img {
      width: 100%; }

.dropdown-menu {
  left: inherit;
  right: 0; }

.dropdown-menu > li > a {
  width: 100%; }

.a-modal {
  min-width: 450px;
  padding: 1em; }

.a-modal__header {
  position: relative;
  padding: 1em 0; }
  .a-modal__header h1 {
    padding: 0;
    margin: 0;
    color: #1B95C4;
    font-size: 18px; }

.a-modal__close {
  position: absolute;
  top: 0;
  right: 0; }

.a-modal__footer {
  padding: 1em 0 0 0;
  text-align: right; }

.a-modal {
  min-width: 450px;
  padding: 1em; }

.a-modal__header {
  position: relative;
  padding: 1em 0; }
  .a-modal__header h1 {
    padding: 0;
    margin: 0;
    color: #1B95C4;
    font-size: 18px; }

.a-modal__close {
  position: absolute;
  top: 0;
  right: 0; }

.a-modal__footer {
  padding: 1em 0 0 0;
  text-align: right; }

.a-list__alumn {
  border: 1px solid #dedede;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: .5em 0; }

.a-list__alumn--initial {
  justify-content: initial; }
  .a-list__alumn--initial .a-list__photo {
    margin-right: .5em; }

.a-list__alumn--space {
  justify-content: flex-start; }
  .a-list__alumn--space .a-list__name {
    padding-left: 1em; }

.a-list__name {
  color: #1B95C4; }

.a-list__photo,
.a-list__level {
  max-width: 70px;
  height: 40px;
  text-align: center;
  padding: 0 .2em; }

.a-list__photo i {
  font-size: 28px;
  color: #161616; }

.a-list__level {
  background: #1B95C4;
  color: #FFF;
  font-size: 28px;
  font-weight: bold; }

.a-subject {
  border: 1px solid #dedede;
  padding: .5em;
  margin: .5em 0;
  position: relative; }
  .a-subject md-menu {
    position: absolute;
    top: 0;
    right: 5px; }

.a-subject--create {
  border: 1px dashed silver;
  height: 126px;
  text-align: center; }
  .a-subject--create a {
    display: block;
    padding: 42px 0;
    color: #919191; }

.a-subject__header {
  padding-bottom: 1em; }

.a-subject__icon {
  display: inline-block; }
  .a-subject__icon i {
    font-size: 26px;
    color: #919191; }

.a-subject__name {
  display: inline-block;
  color: #1B95C4;
  font-size: 18px; }

.a-subject__failure {
  font-size: 14px;
  color: #919191; }
  .a-subject__failure p {
    margin: 0; }

.a-subject__score {
  position: absolute;
  bottom: 0;
  right: 0;
  background: #A8BD46;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  padding: 0 .5em; }

/*# sourceMappingURL=app.css.map */
