.gallery {
  overflow: hidden;
  .image {
    width:150px;
    float: left;
    margin:1em;
    border:1px solid silver;
    img {
      width:100%;
    }
  }
}

.a-gallery__photo {
  a {
    height: 126px;
    text-align: center;
    display: block;
    img {
      height: 100%;
    }
  }
}
