.a-subject {
  border: 1px solid $gray-light;
  padding: .5em;
  margin:.5em 0;
  position: relative;
  md-menu {
    position: absolute;
    top:0;
    right:5px;
  }
}

.a-subject--create {
  border: 1px dashed silver;
  height: 126px;
  text-align: center;
  a {
    display: block;
    padding: 42px 0;
    color: $gray-medium;
  }
}

.a-subject__header {
  padding-bottom:1em;
}

.a-subject__icon{
  display: inline-block;
  i {
    font-size: 26px;
    color: $gray-medium;
  }
}

.a-subject__name {
  display: inline-block;
  color: $blue;
  font-size: 18px;
}

.a-subject__failure {
  font-size: 14px;
  color: $gray-medium;
  p {
    margin:0;
  }
  .note--margin {
        margin-right: 3.5em;
  }
}

.a-subject__score {
  position: absolute;
  bottom: 0;
  right: 0;
  background: $green;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  padding: 0 .5em;
}
