h3 {
  font-size:16px;
  font-weight: bold;
  color: #292929;
}

.a-text--color-green {
  color:$green;
}

.a-title__internal{
  font-size: 25px;
  color: $blue;
  text-align: center;
  padding:2em 1em;
  position: relative;
  p {
    font-size:16px;
    color: gray;
  }
}

.a-title-icon {
  position: relative;
  min-height: 45px;
  i {
    font-size: 18px;
  }
  .a-tittle-icon__wrapper {
    position: absolute;
    top:0;
    left:0;

    i {
      font-size: 35px;
    }

  }

  .a-tittle-info__wrapper {
    margin-left: 40px;
    float: left;
    span {
      color: $blue;
      font-size: 20px;
      padding: 8px .5em 0 .5em;
      line-height: 1em;
      display: block;
    }
    .a-card__grade {
      font-size: 16px;
      color: $red;
      padding: 0 .5em;
    }
  }

}

.a-tittle-info__perfil {
  float: left;
  border-left:1px solid $blue;
  margin:.5em;
  a {
    font-size: 14px;
    padding:.5em;
  }
}

.a-text_promedio-total {
  color: $blue;
  text-align: center;
  display: block;
  font-size: 22px;
  border-top: 1px dashed silver;
  padding:.5em 0;
}

.a-text-left {
  text-align: left;
}

.a-text--uppercase {
  text-transform: uppercase;
}

.a-txt-cent {
  text-align: center;
}
